<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jetpack.preferences.JetPackPreferencePage"
            id="jetpack.preferences.JetPackPreferencePage"
            name="JetPack Config">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jetpack.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="jetpack.category"
            name="Mozilla JetPack">
      </category>
      <wizard
            category="jetpack.category"
            class="jetpack.JetPackWizard"
            finalPerspective="jetpack.perspective"
            icon="icons/jetpack.png"
            id="jetpack.wizard"
            name="JetPack project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="jetpackNature"
         name="JetPack Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="jetpack.builder.JetPackNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/jet2.png"
            id="jetpack.image"
            natureId="jetpack.jetpackNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="jetpack.natureswitch"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="jetpack.builder.ToggleNatureAction"
               enablesFor="+"
               id="jetpack.addRemoveNatureAction"
               label="Add/Remove JetPack Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="jetpack.objectContributionJetPack"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="jetpack.navigator.subMenu"
               label="JetPack">
            <separator
                  name="terminal">
            </separator>
            <separator
                  name="actions">
            </separator>
            <separator
                  name="other">
            </separator>
         </menu>
         <action
               class="jetpack.JetTerminal"
               id="jetpack.actionTerminal"
               label="JetPack Terminal"
               menubarPath="jetpack.navigator.subMenu/terminal">
         </action>
         <action
               class="jetpack.JetRun"
               id="jetpack.actionRun"
               label="Run JetPack"
               menubarPath="jetpack.navigator.subMenu/actions">
         </action>
         <action
               class="jetpack.JetBuildXPI"
               id="jetpack.actionBuild"
               label="Generate XPI package"
               menubarPath="jetpack.navigator.subMenu/actions">
         </action>
         <action
               class="jetpack.JetTests"
               id="jetpack.actionTest"
               label="Test JetPack"
               menubarPath="jetpack.navigator.subMenu/other">
         </action>
         <action
               class="jetpack.JetDocs"
               id="jetpack.actionDocs"
               label="View documentation"
               menubarPath="jetpack.navigator.subMenu/other">
         </action>
         <filter
               name="projectNature"
               value="jetpack.jetpackNature">
         </filter>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/jetpack_navi.png"
            id="jetpack.navigator"
            name="JetPack Navigator">
      </view>
      <view
            class="com.aptana.terminal.views.TerminalView"
            icon="icons/jetpack_term16.png"
            id="jetpack.terminal"
            name="JetPack Terminal"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="jetpack.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="jetpack.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jetpack.perspectives.PerspectiveFactory"
            id="jetpack.perspective"
            name="JetPack Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="jetpack.perspective">
         <view
               id="jetpack.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="jetpack.terminal"
               minimized="false"
               ratio="0.25"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="jetpack.viewContribution"
            targetID="jetpack.navigator">
         <action
               class="jetpack.actions.ViewActionRunDelegate"
               icon="icons/jetpack_run16.png"
               id="jetpack.actionNavRun"
               label="Run JetPack"
               menubarPath="additions"
               style="push"
               toolbarPath="jpgroup">
         </action>
         <action
               class="jetpack.actions.ViewActionTermDelegate"
               icon="icons/jetpack_term16.png"
               id="jetpack.actionNavTerm"
               label="JetPack Terminal"
               menubarPath="additions"
               style="push"
               toolbarPath="jpgroup">
         </action>
         <action
               class="jetpack.actions.ViewActionXpiDelegate"
               icon="icons/jetpack_xpi16.png"
               id="jetpack.actionNavXPI"
               label="Create XPI package"
               menubarPath="additions"
               style="push"
               toolbarPath="jpgoup">
         </action>
      </viewContribution>
   </extension>

</plugin>
